# Import Libraries

In [131]:
import pandas as pd
import numpy as np

# Load Dataset And Basic structure of Dataset

In [132]:
df = pd.read_csv('netflix_titles.csv')
# print(df)
print("shape of Netflix Dataset is:\n",df.shape)
print("Columns name of Netflix Dataset is:\n",df.columns)
print("Data types of the data is:\n",df.dtypes)

shape of Netflix Dataset is:
 (8807, 12)
Columns name of Netflix Dataset is:
 Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')
Data types of the data is:
 show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [133]:
print(df.head(),'\n')
print(df.tail())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

     show_id     type        title         director  \
8802   s8803    Movie       Zodiac    David Fincher
8803   s8804  TV Show  Zombie Dumb              NaN
8804   s8805    Movie   Zombieland  Ruben Fleischer
8805   s8806    Movie         Zoom     Peter Hewitt
8806   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
8802  November 20, 2019          2007      R    158 min
8803       July 1, 2019          2018  TV-Y7  2 Seasons
8804   November 1, 2019          2009      R     88 min
8805   January 11, 2020          2006     PG     88 min
8806      March 2, 2019          2015  TV-14    111 min

                                           listed_in  \
8802                  Cult Movies, Dramas, Thrillers
8803          Kids' TV, Korean TV Shows, TV Comedies
8804                         Comedies, Horror Movies
8805              Children & Family Movies, Comedies
8806  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

# Understanding Summary Stats

In [134]:
print(f"Descriptive view of Dataset:\n{df.describe()}")

Descriptive view of Dataset:
       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [135]:
print("Displaying information of the dataset")
df.info()

Displaying information of the dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [136]:
print("Unique values in Dataset are:","\n",df.nunique())
print("Number of Movies and TV Shows are:\n",df['type'].value_counts())
print("Top countries content wise:\n",df['country'].value_counts().head(10))

Unique values in Dataset are:
 show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64
Number of Movies and TV Shows are:
 type
Movie      6131
TV Show    2676
Name: count, dtype: int64
Top countries content wise:
 country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: count, dtype: int64

# Check for missing values

In [137]:
print("Count of each missing value:\n",df.isna().sum())
print("Percentage of missing values:\n",df.isna().mean()*100)

Count of each missing value:
 show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
Percentage of missing values:
 show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

# Handling Missing Values

In [138]:
#for Director
df['director'] = df['director'].fillna('Unknown')
#for cast
df['cast'] = df['cast'].fillna('Unknown')
#for Country
df['country'] = df['country'].fillna('Unknown')
#rating
df['rating'] = df['rating'].fillna('Unknown')
#Duration
df['duration'] = df['duration'].fillna('Unknown')
#date_added
df.dropna(subset=['date_added'],inplace=True)
print(df.isna().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [139]:
df['date_added'] = pd.to_datetime(df['date_added'], errors = 'coerce')
df['Year_added'] = df['date_added'].dt.year
df['Month_added'] = df['date_added'].dt.month
# print(df.head())
print(df.dtypes) # printing the datatypes of columns
print(df.nunique())

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
Year_added             float64
Month_added            float64
dtype: object
show_id         8797
type               2
title           8797
director        4529
cast            7683
country          749
date_added      1699
release_year      74
rating            18
duration         221
listed_in        513
description     8765
Year_added        14
Month_added       12
dtype: int64

In [140]:
# Content added per year
contentPerYear = df['Year_added'].value_counts().sort_index()
print(contentPerYear)
# Longest and Shortest duration of the content
print("longest and shortest duration is:")
lSDuration = df.sort_values('duration',ascending=False)
print(lSDuration)

Year_added
2008.0       2
2009.0       2
2010.0       1
2011.0      13
2012.0       3
2013.0      10
2014.0      23
2015.0      73
2016.0     418
2017.0    1164
2018.0    1625
2019.0    1999
2020.0    1878
2021.0    1498
Name: count, dtype: int64
longest and shortest duration is:
     show_id     type                                 title  \
5813   s5814    Movie  Louis C.K.: Live at the Comedy Store
5541   s5542    Movie                       Louis C.K. 2017
5794   s5795    Movie                 Louis C.K.: Hilarious
5548   s5549    Movie                              Life 2.0
6415   s6416    Movie                              Candyman
...      ...      ...                                   ...
5800   s5801  TV Show            Kulipari: An Army of Frogs
7215   s7216  TV Show                       Kitten Rescuers
7214   s7215  TV Show                       Kiss The Series
5801   s5802  TV Show                            Conspiracy
5089   s5090  TV Show                 Tundukkan Playboy Itu

                 director                                               cast  \
5813           Louis C.K.                                         Louis C.K.
5541           Louis C.K.                                         Louis C.K.
5794           Louis C.K.                                         Louis C.K.
5548  Jason Spingarn-Koff                                            Unknown
6415         Bernard Rose  Virginia Madsen, Tony Todd, Xander Berkeley, K...
...                   ...                                                ...
5800              Unknown  Mark Hamill, Keith David, Wendie Malick, Josh ...
7215              Unknown                                           Jo Brand
7214              Unknown  Lapassalal Jiravechsoontornkul, Mook Worranit ...
5801              Unknown                                       Mark Bazeley
5089              Unknown  Hafidz Roshdi, Uqasha Senrose, Alif Satar, Maw...

                            country date_added  release_year  rating  \
5813                  United States 2016-08-15          2015  66 min
5541                  United States 2017-04-04          2017  74 min
5794                  United States 2016-09-16          2010  84 min
5548                  United States 2017-04-01          2010   TV-MA
6415  United States, United Kingdom 2019-10-01          1992       R
...                             ...        ...           ...     ...
5800                  United States 2016-09-02          2016   TV-Y7
7215                 United Kingdom 2019-10-02          2017   TV-14
7214                        Unknown 2019-05-26          2016   TV-14
5801                 United Kingdom 2016-09-01          2015   TV-14
5089                        Unknown 2018-01-08          2016   TV-PG

      duration                                          listed_in  \
5813   Unknown                                             Movies
5541   Unknown                                             Movies
5794   Unknown                                             Movies
5548    99 min                                      Documentaries
6415    99 min                         Cult Movies, Horror Movies
...        ...                                                ...
5800  1 Season                                           Kids' TV
7215  1 Season  British TV Shows, International TV Shows, Real...
7214  1 Season  International TV Shows, Romantic TV Shows, TV ...
5801  1 Season                       British TV Shows, Docuseries
5089  1 Season  International TV Shows, Romantic TV Shows, TV ...

                                            description  Year_added  \
5813  The comic puts his trademark hilarious/thought...      2016.0
5541  Louis C.K. muses on religion, eternal love, gi...      2017.0
5794  Emmy-winning comedy writer Louis C.K. brings h...      2016.0
5548  Computer users across the globe log onto the v...      2017.0
6415  Grad student Helen Lyle unintentionally summon...      2019.0
...                                                 ...         ...
5800  In a tale of bravery and heroism, fearless fro...      2016.0
7215  Cat-crazy host Jo Brand follows vets and anima...      2019.0
7214  After a night out, Sandee wakes to discover sh...      2019.0
5801  Skeptics and others discuss widely held conspi...      2016.0
5089  Under pressure from his parents to settle down...      2018.0

      Month_added
5813          8.0
5541          4.0
5794          9.0
5548          4.0
6415         10.0
...           ...
5800          9.0
7215         10.0
7214          5.0
5801          9.0
5089          1.0

[8797 rows x 14 columns]

In [141]:
df.duplicated().sum()

np.int64(0)

# Filtering and Subsetting

In [142]:
# Top 10 Directors with Most Titles
# print(df.groupby('director')['title'].value_counts())
TopDirector = df[df['director'] !='Unknown']['director'].value_counts().head()
print(TopDirector)

director
Rajiv Chilaka             19
Raúl Campos, Jan Suter    18
Suhas Kadav               16
Marcus Raboy              16
Jay Karas                 14
Name: count, dtype: int64

In [143]:
# Top 5 Most Common Genres
df['listed_in'].value_counts().head(10)

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            219
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: count, dtype: int64

In [144]:
# Top 10 Countries with Most Netflix Content
df[df['country'] !='Unknown']['country'].value_counts().head(10)

country
United States     2812
India              972
United Kingdom     418
Japan              244
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: count, dtype: int64

In [145]:
# Number of Titles Added Each Year
df['Year_added'].value_counts()

Year_added
2019.0    1999
2020.0    1878
2018.0    1625
2021.0    1498
2017.0    1164
2016.0     418
2015.0      73
2014.0      23
2011.0      13
2013.0      10
2012.0       3
2009.0       2
2008.0       2
2010.0       1
Name: count, dtype: int64

In [146]:
# Longest Movies on Netflix
df[df['type'] == 'Movie'].sort_values('duration', ascending=False)[['title', 'duration']].head(10)

                                            title duration
5794                        Louis C.K.: Hilarious  Unknown
5541                              Louis C.K. 2017  Unknown
5813         Louis C.K.: Live at the Comedy Store  Unknown
6415                                     Candyman   99 min
3411                                     Up North   99 min
5893  Winter on Fire: Ukraine's Fight for Freedom   99 min
7924                   Salem: His Sister's Father   99 min
3431                          The Bling Lagosians   99 min
7534                           My Dog is My Guide   99 min
5502                        In the Shadow of Iris   99 min

In [147]:
#Movies Released Before 2011
df[(df['type']=='Movie') & (df['Year_added']<2011)]['title']

5955                       Splatter
5956        Just Another Love Story
5957           To and From New York
7370    Mad Ron's Prevues from Hell
Name: title, dtype: object

In [148]:
# How Many Titles Have “Love” in the Title
df[df['title'].str.contains('love')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Year_added,Month_added
922,s923,Movie,The Clovehitch Killer,Duncan Skiles,"Dylan McDermott, Charlie Plummer, Samantha Mat...",United States,2021-05-04,2018,TV-MA,109 min,"Dramas, Independent Movies, Thrillers",A teenager's picture-perfect family is torn ap...,2021.0,5.0
1509,s1510,Movie,"Ariana grande: excuse me, i love you",Paul Dugdale,Ariana Grande,United States,2020-12-21,2020,TV-MA,98 min,"Documentaries, Music & Musicals",Ariana Grande takes the stage in London for he...,2020.0,12.0
2521,s2522,Movie,"I love you, stupid",Laura Mañá,"Quim Gutiérrez, Natalia Tena, Alfonso Bassave,...",Spain,2020-05-15,2019,TV-MA,88 min,"Comedies, International Movies, Romantic Movies","After Marcos is dumped by his girlfriend, he a...",2020.0,5.0
2857,s2858,TV Show,Calico Critters Mini Episodes Clover,Unknown,"Stephanie Sheh, Erika Harlacher, Julie Maddale...",Unknown,2020-03-01,2020,TV-Y,1 Season,Kids' TV,From throwing parties to planning fashion show...,2020.0,3.0
4833,s4834,Movie,Alex Strangelove,Craig Johnson,"Daniel Doheny, Madeline Weinstein, Antonio Mar...",United States,2018-06-08,2018,TV-MA,100 min,"Comedies, Dramas, Independent Movies",High school senior Alex Truelove's plan to los...,2018.0,6.0
5047,s5048,Movie,The Cloverfield Paradox,Julius Onah,"Gugu Mbatha-Raw, David Oyelowo, Daniel Brühl, ...",United States,2018-02-05,2018,PG-13,102 min,"Action & Adventure, Sci-Fi & Fantasy","Orbiting above a planet on the brink of war, s...",2018.0,2.0
5712,s5713,Movie,Donald Glover: Weirdo,"Shannon Hartman, Michelle Caputo",Donald Glover,United States,2016-11-19,2012,TV-MA,65 min,Stand-Up Comedy,Fearlessly funny stand-up comic and sitcom sta...,2016.0,11.0
6503,s6504,Movie,Cloverfield,Matt Reeves,"Lizzy Caplan, Jessica Lucas, T.J. Miller, Mich...",United States,2020-01-01,2008,PG-13,85 min,"Action & Adventure, Horror Movies, Sci-Fi & Fa...",A going-away party in Manhattan is interrupted...,2020.0,1.0

# Grouping Data

In [149]:
# Count of Movies and TV Shows
print(df.groupby('type')['type'].count())
# Number of Titles Added per Year
df.groupby('Year_added')['Year_added'].count()
# Top 10 Directors with Most Titles
df[df['director'] != 'Unknown'].groupby('director')['title'].count().sort_values(ascending=False)
#. Average Movie Duration by Country
df['duration_int'] = df['duration'].str.extract('(\d+)').astype(float).astype('Int64')
df[df['type']=='Movie'].groupby('country')['duration_int'].mean().head(10)

type
Movie      6131
TV Show    2666
Name: type, dtype: int64

<>:8: SyntaxWarning: invalid escape sequence '\d'
<>:8: SyntaxWarning: invalid escape sequence '\d'
C:\Users\anujs\AppData\Local\Temp\ipykernel_4912\3410178166.py:8: SyntaxWarning: invalid escape sequence '\d'
  df['duration_int'] = df['duration'].str.extract('(\d+)').astype(float).astype('Int64')

country
, France, Algeria                                           103.0
Argentina                                               85.789474
Argentina, Brazil, France, Poland, Germany, Denmark          96.0
Argentina, Chile                                             95.0
Argentina, Chile, Peru                                      100.0
Argentina, France                                            87.0
Argentina, France, United States, Germany, Qatar            108.0
Argentina, Italy                                             66.0
Argentina, Spain                                       101.714286
Argentina, United States                                    113.0
Name: duration_int, dtype: Float64

# Feature Engineering

In [150]:
df['content_age'] = 2025 - df['release_year']
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water          Unknown
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans          Unknown
4      s5  TV Show           Kota Factory          Unknown

                                                cast        country  \
0                                            Unknown  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...        Unknown
3                                            Unknown        Unknown
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

  date_added  release_year rating   duration  \
0 2021-09-25          2020  PG-13     90 min
1 2021-09-24          2021  TV-MA  2 Seasons
2 2021-09-24          2021  TV-MA   1 Season
3 2021-09-24          2021  TV-MA   1 Season
4 2021-09-24          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description  Year_added  Month_added  \
0  As her father nears the end of his life, filmm...      2021.0          9.0
1  After crossing paths at a party, a Cape Town t...      2021.0          9.0
2  To protect his family from a powerful drug lor...      2021.0          9.0
3  Feuds, flirtations and toilet talk go down amo...      2021.0          9.0
4  In a city of coaching centers known to train I...      2021.0          9.0

   duration_int  content_age
0            90            5
1             2            4
2             1            4
3             1            4
4             2            4

# Correlation Analysis

In [151]:
correlation_matrix = df.corr(numeric_only=True)
print(correlation_matrix)

              release_year  Year_added  Month_added  duration_int  content_age
release_year      1.000000    0.110473    -0.039316     -0.249925    -1.000000
Year_added        0.110473    1.000000    -0.160555      0.016436    -0.110473
Month_added      -0.039316   -0.160555     1.000000     -0.016876     0.039316
duration_int     -0.249925    0.016436    -0.016876      1.000000     0.249925
content_age      -1.000000   -0.110473     0.039316      0.249925     1.000000

In [ ]:
df.to_csv('leanedNetflixDataset.csv',index=False)