# Import Libraries

In [2]:
import pandas as pd
import numpy as np

# Load dataset

In [3]:
df = pd.read_csv("Titanic-Dataset.csv")
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

# Basic Structure of Dataset

In [4]:
print("Shape of dataset is",df.shape)
print("column names:\n",df.columns)
print("Datatypes of dataset:\n",df.dtypes)

Shape of dataset is (891, 12)
column names:
 Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Datatypes of dataset:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
print(f"Displaying starting 10 rows:\n{df.head()}\n\n")
print(f"Displaying ending 10 rows:\n{df.tail()}")

Displaying starting 10 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S


Displaying ending 10 rows:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

# Undersatnding summary stats

In [6]:
print(f"Descriptive view of the data:\n{df.describe()}")

Descriptive view of the data:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [7]:
print(f"Displaying information of the dataset:\n")
df.info()

Displaying information of the dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
print("unique values in data set are:\n",df.nunique(),"\n") 
print(df['Survived'].value_counts())
print(df['Sex'].value_counts())
print(df['Pclass'].value_counts())
print(df['Embarked'].value_counts())

unique values in data set are:
 PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Survived
0    549
1    342
Name: count, dtype: int64
Sex
male      577
female    314
Name: count, dtype: int64
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

# Check for missing values

In [9]:
print("Counting of each missing values:\n",df.isna().sum(),"\n")
print("mean of missing values:\n",df.isna().mean())

Counting of each missing values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

mean of missing values:
 PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

# Handling Missing Data

In [10]:
#creating column deck using intial letter of cabin and filling missing with 'U' which stands for unknown
df['deck'] = df['Cabin'].str[0]
df['deck'] = df['deck'].fillna('U')
print(df.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
deck             0
dtype: int64

In [11]:
# filling missing Age with median age
df['Age']  = df['Age'].fillna(df['Age'].median())
print(df.tail())
print(df.isna().sum())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked deck
886    male  27.0      0      0      211536  13.00   NaN        S    U
887  female  19.0      0      0      112053  30.00   B42        S    B
888  female  28.0      1      2  W./C. 6607  23.45   NaN        S    U
889    male  26.0      0      0      111369  30.00  C148        C    C
890    male  32.0      0      0      370376   7.75   NaN        Q    U
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
deck             0
dtype: int64

In [12]:
print(df['Embarked'].value_counts())
#filling missing values with "S"
df['Embarked'] = df['Embarked'].fillna('S')
print(df.isna().sum())

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
deck             0
dtype: int64

# Data Type Conversion

In [13]:

df['Sex'] = df['Sex'].astype('category')
df['Embarked'] = df['Embarked'].astype('category')
df['Name'] = df['Name'].astype('string')

# Checking duplicates

In [14]:
df.duplicated().sum()

np.int64(0)

# Filtering and subsetting

In [15]:
#Query1:Passengers aged above 60
print(df[df['Age']>60])

     PassengerId  Survived  Pclass                                       Name  \
33            34         0       2                      Wheadon, Mr. Edward H
54            55         0       1             Ostby, Mr. Engelhart Cornelius
96            97         0       1                  Goldschmidt, Mr. George B
116          117         0       3                       Connors, Mr. Patrick
170          171         0       1                  Van der hoef, Mr. Wyckoff
252          253         0       1                  Stead, Mr. William Thomas
275          276         1       1          Andrews, Miss. Kornelia Theodosia
280          281         0       3                           Duane, Mr. Frank
326          327         0       3                  Nysveen, Mr. Johan Hansen
438          439         0       1                          Fortune, Mr. Mark
456          457         0       1                  Millet, Mr. Francis Davis
483          484         1       3                     Turkula, Mrs. (Hedwig)
493          494         0       1                    Artagaveytia, Mr. Ramon
545          546         0       1               Nicholson, Mr. Arthur Ernest
555          556         0       1                         Wright, Mr. George
570          571         1       2                         Harris, Mr. George
625          626         0       1                      Sutton, Mr. Frederick
630          631         1       1       Barkworth, Mr. Algernon Henry Wilson
672          673         0       2                Mitchell, Mr. Henry Michael
745          746         0       1               Crosby, Capt. Edward Gifford
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)
851          852         0       3                        Svensson, Mr. Johan

        Sex   Age  SibSp  Parch       Ticket      Fare        Cabin Embarked  \
33     male  66.0      0      0   C.A. 24579   10.5000          NaN        S
54     male  65.0      0      1       113509   61.9792          B30        C
96     male  71.0      0      0     PC 17754   34.6542           A5        C
116    male  70.5      0      0       370369    7.7500          NaN        Q
170    male  61.0      0      0       111240   33.5000          B19        S
252    male  62.0      0      0       113514   26.5500          C87        S
275  female  63.0      1      0        13502   77.9583           D7        S
280    male  65.0      0      0       336439    7.7500          NaN        Q
326    male  61.0      0      0       345364    6.2375          NaN        S
438    male  64.0      1      4        19950  263.0000  C23 C25 C27        S
456    male  65.0      0      0        13509   26.5500          E38        S
483  female  63.0      0      0         4134    9.5875          NaN        S
493    male  71.0      0      0     PC 17609   49.5042          NaN        C
545    male  64.0      0      0          693   26.0000          NaN        S
555    male  62.0      0      0       113807   26.5500          NaN        S
570    male  62.0      0      0  S.W./PP 752   10.5000          NaN        S
625    male  61.0      0      0        36963   32.3208          D50        S
630    male  80.0      0      0        27042   30.0000          A23        S
672    male  70.0      0      0   C.A. 24580   10.5000          NaN        S
745    male  70.0      1      1    WE/P 5735   71.0000          B22        S
829  female  62.0      0      0       113572   80.0000          B28        S
851    male  74.0      0      0       347060    7.7750          NaN        S

    deck
33     U
54     B
96     A
116    U
170    B
252    C
275    D
280    U
326    U
438    C
456    E
483    U
493    U
545    U
555    U
570    U
625    D
630    A
672    U
745    B
829    B
851    U

In [16]:
#Query2: Females who survived
print(df[(df['Sex']=='female') & (df['Survived'] == 1)])

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
874          875         1       2
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0

     Parch            Ticket     Fare Cabin Embarked deck
1        0          PC 17599  71.2833   C85        C    C
2        0  STON/O2. 3101282   7.9250   NaN        S    U
3        0            113803  53.1000  C123        S    C
8        2            347742  11.1333   NaN        S    U
9        0            237736  30.0708   NaN        C    U
..     ...               ...      ...   ...      ...  ...
874      0         P/PP 3381  24.0000   NaN        C    U
875      0              2667   7.2250   NaN        C    U
879      1             11767  83.1583   C50        C    C
880      1            230433  26.0000   NaN        S    U
887      0            112053  30.0000   B42        S    B

[233 rows x 13 columns]

In [17]:
#Query3: Passengers from 3rd class who didnâ€™t survive
print(df[(df['Pclass']==3) & (df['Survived']==0)])

     PassengerId  Survived  Pclass                                      Name  \
0              1         0       3                   Braund, Mr. Owen Harris
4              5         0       3                  Allen, Mr. William Henry
5              6         0       3                          Moran, Mr. James
7              8         0       3            Palsson, Master. Gosta Leonard
12            13         0       3            Saundercock, Mr. William Henry
..           ...       ...     ...                                       ...
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch           Ticket     Fare Cabin Embarked deck
0      male  22.0      1      0        A/5 21171   7.2500   NaN        S    U
4      male  35.0      0      0           373450   8.0500   NaN        S    U
5      male  28.0      0      0           330877   8.4583   NaN        Q    U
7      male   2.0      3      1           349909  21.0750   NaN        S    U
12     male  20.0      0      0        A/5. 2151   8.0500   NaN        S    U
..      ...   ...    ...    ...              ...      ...   ...      ...  ...
882  female  22.0      0      0             7552  10.5167   NaN        S    U
884    male  25.0      0      0  SOTON/OQ 392076   7.0500   NaN        S    U
885  female  39.0      0      5           382652  29.1250   NaN        Q    U
888  female  28.0      1      2       W./C. 6607  23.4500   NaN        S    U
890    male  32.0      0      0           370376   7.7500   NaN        Q    U

[372 rows x 13 columns]

In [18]:
#Query4:Passengers who paid fare > 100
print(df[df['Fare']>100])

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.00      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female  28.00      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female  28.00      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male  28.00      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male  28.00      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked deck
27       2     19950  263.0000      C23 C25 C27        S    C
31       0  PC 17569  146.5208              B78        C    B
88       2     19950  263.0000      C23 C25 C27        S    C
118      1  PC 17558  247.5208          B58 B60        C    B
195      0  PC 17569  146.5208              B80        C    B
215      0     35273  113.2750              D36        C    D
258      0  PC 17755  512.3292              NaN        C    U
268      1  PC 17582  153.4625             C125        S    C
269      0  PC 17760  135.6333              C99        S    C
297      2    113781  151.5500          C22 C26        S    C
299      1  PC 17558  247.5208          B58 B60        C    B
305      2    113781  151.5500          C22 C26        S    C
306      0     17421  110.8833              NaN        C    U
307      0  PC 17758  108.9000              C65        C    C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C    B
318      2     36928  164.8667               C7        S    C
319      1     16966  134.5000              E34        C    E
325      0  PC 17760  135.6333              C32        C    C
332      1  PC 17582  153.4625              C91        S    C
334      0  PC 17611  133.6500              NaN        S    U
337      0     16966  134.5000              E40        C    E
341      2     19950  263.0000      C23 C25 C27        S    C
373      0  PC 17760  135.6333              NaN        C    U
377      2    113503  211.5000              C82        C    C
380      0  PC 17757  227.5250              NaN        C    U
390      2    113760  120.0000          B96 B98        S    B
393      0     35273  113.2750              D36        C    D
435      2    113760  120.0000          B96 B98        S    B
438      4     19950  263.0000      C23 C25 C27        S    C
498      2    113781  151.5500          C22 C26        S    C
505      0  PC 17758  108.9000              C65        C    C
527      0  PC 17483  221.7792              C95        S    C
537      0  PC 17761  106.4250              NaN        C    U
544      0  PC 17761  106.4250              C86        C    C
550      2     17421  110.8833              C70        C    C
557      0  PC 17757  227.5250              NaN        C    U
581      1     17421  110.8833              C68        C    C
609      0  PC 17582  153.4625             C125        S    C
659      2     35273  113.2750              D48        C    D
660      0  PC 17611  133.6500              NaN        S    U
679      1  PC 17755  512.3292      B51 B53 B55        C    B
689      1     24160  211.3375               B5        S    B
698      1     17421  110.8833              C68        C    C
700      0  PC 17757  227.5250          C62 C64        C    C
708      0    113781  151.5500              NaN        S    U
716      0  PC 17757  227.5250              C45        C    C
730      0     24160  211.3375               B5        S    B
737      0  PC 17755  512.3292             B101        C    B
742      2  PC 17608  262.3750  B57 B59 B63 B66        C    B
763      2    113760  120.0000          B96 B98        S    B
779      1     24160  211.3375               B3        S    B
802      2    113760  120.0000          B96 B98        S    B
856      1     36928  164.8667              NaN        S    U

In [19]:
# Query5:Children (Age < 12) who survived
print(df[(df['Age']<12 )& (df['Survived']==1)])

     PassengerId  Survived  Pclass  \
10            11         1       3
43            44         1       2
58            59         1       2
78            79         1       2
165          166         1       3
172          173         1       3
183          184         1       2
184          185         1       3
193          194         1       2
233          234         1       3
237          238         1       2
261          262         1       3
305          306         1       1
340          341         1       2
348          349         1       3
381          382         1       3
407          408         1       2
445          446         1       1
448          449         1       3
469          470         1       3
479          480         1       3
489          490         1       3
530          531         1       2
535          536         1       2
549          550         1       2
618          619         1       2
644          645         1       3
691          692         1       3
720          721         1       2
750          751         1       2
751          752         1       3
755          756         1       2
777          778         1       3
788          789         1       3
802          803         1       1
803          804         1       3
827          828         1       2
831          832         1       2
869          870         1       3

                                                Name     Sex    Age  SibSp  \
10                   Sandstrom, Miss. Marguerite Rut  female   4.00      1
43          Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
58                      West, Miss. Constance Mirium  female   5.00      1
78                     Caldwell, Master. Alden Gates    male   0.83      0
165  Goldsmith, Master. Frank John William "Frankie"    male   9.00      0
172                     Johnson, Miss. Eleanor Ileen  female   1.00      1
183                        Becker, Master. Richard F    male   1.00      2
184              Kink-Heilmann, Miss. Luise Gretchen  female   4.00      0
193                       Navratil, Master. Michel M    male   3.00      1
233                   Asplund, Miss. Lillian Gertrud  female   5.00      4
237                 Collyer, Miss. Marjorie "Lottie"  female   8.00      0
261                Asplund, Master. Edvin Rojj Felix    male   3.00      4
305                   Allison, Master. Hudson Trevor    male   0.92      1
340                   Navratil, Master. Edmond Roger    male   2.00      1
348           Coutts, Master. William Loch "William"    male   3.00      1
381                      Nakid, Miss. Maria ("Mary")  female   1.00      0
407                   Richards, Master. William Rowe    male   3.00      1
445                        Dodge, Master. Washington    male   4.00      0
448                   Baclini, Miss. Marie Catherine  female   5.00      2
469                    Baclini, Miss. Helene Barbara  female   0.75      2
479                         Hirvonen, Miss. Hildur E  female   2.00      0
489            Coutts, Master. Eden Leslie "Neville"    male   9.00      1
530                         Quick, Miss. Phyllis May  female   2.00      1
535                           Hart, Miss. Eva Miriam  female   7.00      0
549                   Davies, Master. John Morgan Jr    male   8.00      1
618                      Becker, Miss. Marion Louise  female   4.00      2
644                           Baclini, Miss. Eugenie  female   0.75      2
691                               Karun, Miss. Manca  female   4.00      0
720                Harper, Miss. Annie Jessie "Nina"  female   6.00      0
750                                Wells, Miss. Joan  female   4.00      1
751                              Moor, Master. Meier    male   6.00      0
755                        Hamalainen, Master. Viljo    male   0.67      1
777                    Emanuel, Miss. Virginia Ethel  female   5.00      0
788                       Dean, Master. Bertram Vere    male   1.00      1
802              Carter, Master. William Thornton II    male  11.00      1
803                  Thomas, Master. Assad Alexander    male   0.42      0
827                            Mallet, Master. Andre    male   1.00      0
831                  Richards, Master. George Sibley    male   0.83      1
869                  Johnson, Master. Harold Theodor    male   4.00      1

     Parch           Ticket      Fare    Cabin Embarked deck
10       1          PP 9549   16.7000       G6        S    G
43       2    SC/Paris 2123   41.5792      NaN        C    U
58       2       C.A. 34651   27.7500      NaN        S    U
78       2           248738   29.0000      NaN        S    U
165      2           363291   20.5250      NaN        S    U
172      1           347742   11.1333      NaN        S    U
183      1           230136   39.0000       F4        S    F
184      2           315153   22.0250      NaN        S    U
193      1           230080   26.0000       F2        S    F
233      2           347077   31.3875      NaN        S    U
237      2       C.A. 31921   26.2500      NaN        S    U
261      2           347077   31.3875      NaN        S    U
305      2           113781  151.5500  C22 C26        S    C
340      1           230080   26.0000       F2        S    F
348      1       C.A. 37671   15.9000      NaN        S    U
381      2             2653   15.7417      NaN        C    U
407      1            29106   18.7500      NaN        S    U
445      2            33638   81.8583      A34        S    A
448      1             2666   19.2583      NaN        C    U
469      1             2666   19.2583      NaN        C    U
479      1          3101298   12.2875      NaN        S    U
489      1       C.A. 37671   15.9000      NaN        S    U
530      1            26360   26.0000      NaN        S    U
535      2     F.C.C. 13529   26.2500      NaN        S    U
549      1       C.A. 33112   36.7500      NaN        S    U
618      1           230136   39.0000       F4        S    F
644      1             2666   19.2583      NaN        C    U
691      1           349256   13.4167      NaN        C    U
720      1           248727   33.0000      NaN        S    U
750      1            29103   23.0000      NaN        S    U
751      1           392096   12.4750     E121        S    E
755      1           250649   14.5000      NaN        S    U
777      0           364516   12.4750      NaN        S    U
788      2        C.A. 2315   20.5750      NaN        S    U
802      2           113760  120.0000  B96 B98        S    B
803      1             2625    8.5167      NaN        C    U
827      2  S.C./PARIS 2079   37.0042      NaN        C    U
831      1            29106   18.7500      NaN        S    U
869      1           347742   11.1333      NaN        S    U

In [20]:
# Query6: Name and Age of passengers with missing Cabin info
print(df[df['Cabin'].isnull()][['Name','Age']])

                                         Name   Age
0                     Braund, Mr. Owen Harris  22.0
2                      Heikkinen, Miss. Laina  26.0
4                    Allen, Mr. William Henry  35.0
5                            Moran, Mr. James  28.0
7              Palsson, Master. Gosta Leonard   2.0
..                                        ...   ...
884                    Sutehall, Mr. Henry Jr  25.0
885      Rice, Mrs. William (Margaret Norton)  39.0
886                     Montvila, Rev. Juozas  27.0
888  Johnston, Miss. Catherine Helen "Carrie"  28.0
890                       Dooley, Mr. Patrick  32.0

[687 rows x 2 columns]

In [21]:
# Query7:All passengers whose name contains 'Miss'
print(df[df['Name'].str.contains('Miss')][['PassengerId','Name']])

     PassengerId                                      Name
2              3                    Heikkinen, Miss. Laina
10            11           Sandstrom, Miss. Marguerite Rut
11            12                  Bonnell, Miss. Elizabeth
14            15      Vestrom, Miss. Hulda Amanda Adolfina
22            23               McGowan, Miss. Anna "Annie"
..           ...                                       ...
866          867              Duran y More, Miss. Asuncion
875          876          Najib, Miss. Adele Kiamie "Jane"
882          883              Dahlberg, Miss. Gerda Ulrika
887          888              Graham, Miss. Margaret Edith
888          889  Johnston, Miss. Catherine Helen "Carrie"

[182 rows x 2 columns]

# Grouping Data

In [22]:
# 1. Average Fare by each Passenger Class
print(df.groupby('Pclass')['Fare'].mean())
# 2.  Survival Rate by Gender
print(f"{df.groupby('Sex')['Survived'].mean()*100}")
#3.Average Age by Gender
print(f"{df.groupby('Sex')['Age'].mean()}")
# 4. Survival Count by Passenger Class
print(f"{df.groupby('Pclass')['Survived'].sum()}")
# 5. Survival Rate by Class and Gender
print(f"{df.groupby(['Pclass','Sex'])['Survived'].mean()}")

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64
Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64
Sex
female    27.929936
male      30.140676
Name: Age, dtype: float64
Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64
Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

C:\Users\anujs\AppData\Local\Temp\ipykernel_1316\1296869449.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(f"{df.groupby('Sex')['Survived'].mean()*100}")
C:\Users\anujs\AppData\Local\Temp\ipykernel_1316\1296869449.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(f"{df.groupby('Sex')['Age'].mean()}")
C:\Users\anujs\AppData\Local\Temp\ipykernel_1316\1296869449.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(f"{df.groupby(['Pclass','Sex'])['Survived'].mean()}")

In [27]:
df.drop('Cabin',axis=1,inplace=True) #already deleted from dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked deck  FamilySize  IsAlone  \
0      0         A/5 21171   7.2500        S    U           2        0
1      0          PC 17599  71.2833        C    C           2        0
2      0  STON/O2. 3101282   7.9250        S    U           1        1
3      0            113803  53.1000        S    C           2        0
4      0            373450   8.0500        S    U           1        1

  AgeGroup
0    Adult
1    Adult
2    Adult
3    Adult
4    Adult

# Feature Engineering

In [24]:
# Total Family size
df['FamilySize'] = df['Parch'] + df['SibSp'] +1 # counting passenger as well
# Is alone column
df['IsAlone'] = (df['FamilySize'] == 1).astype(int)
# Creating age groups 
df['AgeGroup'] = pd.cut(df['Age'],
                        bins=[0, 12, 18, 60, 100],
                        labels=['Child', 'Teen', 'Adult', 'Senior'])
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked deck  FamilySize  IsAlone  \
0      0         A/5 21171   7.2500   NaN        S    U           2        0
1      0          PC 17599  71.2833   C85        C    C           2        0
2      0  STON/O2. 3101282   7.9250   NaN        S    U           1        1
3      0            113803  53.1000  C123        S    C           2        0
4      0            373450   8.0500   NaN        S    U           1        1

  AgeGroup
0    Adult
1    Adult
2    Adult
3    Adult
4    Adult

# Correlation Analysis

In [25]:
correlation_matrix = df.corr(numeric_only=True)
print(correlation_matrix)

             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.034212 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.064910 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.339898  0.083081  0.018443
Age             0.034212 -0.064910 -0.339898  1.000000 -0.233296 -0.172482
SibSp          -0.057527 -0.035322  0.083081 -0.233296  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.172482  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.096688  0.159651  0.216225
FamilySize     -0.040143  0.016639  0.065997 -0.245619  0.890712  0.783111
IsAlone         0.057462 -0.203367  0.135207  0.171647 -0.584471 -0.583398

                 Fare  FamilySize   IsAlone
PassengerId  0.012658   -0.040143  0.057462
Survived     0.257307    0.016639 -0.203367
Pclass      -0.549500    0.065997  0.135207
Age          0.096688   -0.245619  0.171647
SibSp        0.159651    0.890712 -0.584471
Parch        0.216225    0.783111 -0.583398
Fare         1.000000    0.217138 -0.271832
FamilySize   0.217138    1.000000 -0.690922
IsAlone     -0.271832   -0.690922  1.000000

In [28]:
df.to_csv("Titanic_cleaned_Dataset.csv",index=False)